
<ion-view>
  <ion-content>

  <div style="width:100%; height:40vh">
  	<iframe style="width:50%; height:40vh; float:right;" ng-src="{{mapurl}}"></iframe>
    <img style=" max-width:50%; max-height:40vh;" id="image" src="{{imgsrc}}" />
  </div>

	<ul class="list">

		<label class="item item-input item-select">
		    <div class="input-label">
		      Select Group:
		    </div>
			<select ng-model="selectedGroup" ng-options="group.GID as group.gname for group in groups" ng-change = "update(selectedGroup)">
				<option value="">No Group</option>
			</select>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Tags</span>
			<input type="text" placeholder="#funny, #scenic, #cool, #monument etc.">
		</label>

		<li class="item item-toggle">
		Make Public?
		<label class="toggle toggle-positive">
		<input type="checkbox" checked="checked" id = "checkbox" value="public">
			<div class="track">
				 <div class="handle"></div>
			</div>
		</label>
		</li>

		<li class="item item-input">
		Give your photo a rating:
			<div class="floatright" star-rating rating-value="rating" max="5" on-rating-selected="rateFunction(rating)"></div>
		</li>
	</ul>

    <button class="button button-positive icon ion-map" style="position:absolute; top:2px; right:2px" ng-click="createPin()"></button>


    <!-- <button class="button button-block bottom button-positive icon ion-upload" ng-click="uploadPhoto()"> Upload</button> -->
    <button class="button button-block button-positive icon ion-upload" ng-click="uploadPhoto()">Upload</button>


  </ion-content>
</ion-view>
