
<ion-view hide-nav-bar="true">
  <ion-content>
    <img style="display:none; width:100%; height:100%;" id="smallImage" src="" />
    <img style="display:none; width:100%; height:100%;" id="largeImage" src="" />

    <button class="cam-button left" onclick="capturePhoto();">Capture Photo</button> <br>
    <!--<button onclick="capturePhotoEdit();">Capture Editable Photo</button> <br>-->
    <button class="cam-button right" onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>

  </ion-content>
</ion-view>
