
<ion-view hide-nav-bar="true">
  <ion-content>
    <img style="display:none; width:100%;" id="image" src="" />
    <!--<img style="display:none; width:100%; height:100%;" id="largeImage" src="" />-->

    <!--<button id="uploadButton" onclick="uploadPhoto()"> Upload </button>-->
    <button id="uploadButton" class="button button-positive icon ion-upload" ng-click="uploadPhoto()">Upload</button>

    <button class="cam-button left" onclick="capturePhoto();">Capture Photo</button> <br>
    <!--<button onclick="capturePhotoEdit();">Capture Editable Photo</button> <br>-->
    <button class="cam-button right" onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>

  </ion-content>
</ion-view>
