<ion-view title="Groups">
	<ion-nav-buttons side="right">
	  <button class="button icon ion-person-add button-light" ng-click="openModal(1)" >
	    Join Group
	  </button>
	</ion-nav-buttons>

	<ion-nav-buttons side="left">
	  <button class="button icon ion-plus-circled button-light" ng-click="openModal(2)" >
	    Create Group
	  </button>
	</ion-nav-buttons>

	<ion-content>
		<ion-list>
		<div class="item item-divider">
    		Group Name - Group ID
  		</div>
			<ion-item ng-repeat="group in groups | filter:searchFilter | orderBy:'gname'" item="groups">
			    <div class="item-button-right">
			     {{group.gname}} -
			     {{group.GID}}
			  	  <button class="button button-assertive" ng-click="leaveGroup(group)">
			     	 <i class="icon ion-log-out"></i>
			  	  </button>
			  	</div>
		  	</ion-item>
		</ion-list>

  	</ion-content>
</ion-view>
