<div class="modal">

  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Create Group</h1>
    <button class="button button-clear button-positive" ng-click="closeModal(2)">Close</button>
  </ion-header-bar>

  <!-- Modal content area -->
  <ion-content>

    <form ng-submit="createGroup(group)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Enter Groud ID" ng-model="group.gid">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Enter Groud Name" ng-model="group.gname">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Group</button>
      </div>
      {{responseMessage}}
    </form>

  </ion-content>

</div>