body{
	height: 100%;
}
.scroll{
	height:100%;
}
.cam-button{
	display: inline-block;
	width:50%;
	background-color: rgba(52, 73, 94,0.7);
	color: white;
	height:50px;
	position: absolute;
	bottom:0px;
	border:none;
}

#uploadButton{
	position: absolute;
	top:0;
	width:100%;

}

/*.modal{
	margin-top: 10%;
	width: 80%; 
	height: 30%;
	margin-bottom:60%;
    margin-left:-40%; 
}*/

.bottom{
	bottom: 0px;
	position: absolute;
}
.button-bar .button{
	border-width: 1px;
}

.right{
	right:0px;
}

.left{
	left:0px;
	border-right:1px solid white;
}