body{
	height: 100%;
}
.scroll{
	height:100%;
}
.cam-button{
	display: inline-block;
	width:100px;
	background-color: rgba(52, 73, 94,0.7);
	color: white;
	height:50px;
	position: fixed;
	bottom:48px;
	border:none;
	font-size: 50px;
	line-height: 50px;

}

.groupsButton{
	width:50%;
	background-color: #888;
	height:40px;
	margin-top:0px; 
	display: block;
	background-color: #2980b9;
	margin-top: 0px;
	border:none;
	color:white;
}

.groupsButton i{
	font-size: 25px;
	line-height: 40px;
	vertical-align: middle;
}

.fleft{
	float:left;
	border-right:1px solid rgba(255, 255, 255,0.3);
}

.fright{
	float:right;
}


#uploadButton{
	position: absolute;
	top:0;
	width:100%;

}

.overlay-button{
	position:absolute;
	bottom:0px;
	width:20%;
	margin-left: 40%;
	background-color:#27ae60 !important;
	color:white;
}

.modal{
	min-height:250px !important;
	top: 50px !important;
}

.imageitem{
	float:left; 
	width:33%; 
	padding: 5px;
}

.imageitem img{
	width:100%;
}

.bottom{
	bottom: 0px;
	position: absolute;
}
.button-bar .button{
	border-width: 1px;
}

.right{
	right:0px;
	border-top-left-radius:20px;
}

.floatright{
	float:right;
	display:inline-block;
}

.left{
	left:0px;
	border-top-right-radius:20px;

}

ion-header-bar{
	border-bottom:none !important;
	background-image: none !important;
}

/*The following CSS is used for the rating stars.*/
.rating{
  margin: 0;
  padding: 0;
  display: inline-block;
}

.rating li {
	padding: 1px;
	color: #a9a9a9;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	list-style-type: none;
	display: inline-block;
	cursor: pointer;
}

.rating .filled {
  color: #ef4e3a;
}